stm32f411_fw/.settings/language.settings.xml
stm32f411_fw/Debug/
stm32f411_boot/.settings/language.settings.xml
stm32f411_boot/Debug/
stm32f411_fw_for_boot/Debug/
stm32f411_fw_for_boot/.settings/language.settings.xml
